<main class="layout-main">
   
<header class="header-main">
    <nav class="navigation-top">
        <div class="navigation-div">
            <a class="brand" href="#">Restro POS</a>
            <button class="links-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class=""></span>
            </button>
            <div id="links-pos" class="navigation-links collapse navbar-collapse" style="">
                <ul class="navigation-links-ul">
                    <li class="navigation-links-ul-li"><a href="DashboardPOS">Terminal Dashboard</a></li>
                    <li class="navigation-links-ul-li"><a href="OrderList">Orders</a></li>
                    <li class="navigation-links-link"><a class="place-order" href="OrderPlace">Place Order</a></li>
                    <ul class="navigation-links-ul" style="text-decoration-line: underline;">
                        <li class="nav-item dropdown">
                            <button class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">POS Log In/ Log Out</button>
                            <ul class="dropdown-menu">
                                <li class="navigation-links-link" data-bs-toggle="modal" data-bs-target="#loginModal"><button class="dropdown-item" href="">Log In to POS</button></li>
                                <li><a class="dropdown-item" href="DashboardTerminal">Log Out from POS</a></li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </div>
            <a href="DashboardTerminal" class="btn btn-outline-primary">Manager Dashboard</a>
            <ul class="navigation-links-ul">
                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person"></i></button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="Login">Log Out</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
</main>




<router-outlet></router-outlet>

